#weatherInfo{
    padding-top: 10em;
}
@media only screen and (max-width: 800px){
    #weatherInfo{
        padding-top: 5em;
    }
}


span{
    font-size: 6em;
    font-weight: 450;
    vertical-align: middle;
}

#weatherIcon{
    margin-left: 2.5%;
    font-weight: 200;
}

@media only screen and (max-width: 500px){
    span{
        margin-top: 0%;
        font-size: 4em;
        font-weight: 450;
        vertical-align: middle;
    }
    
    #weatherIcon{
        margin-top: 0%;
        max-height: 80%;
    }

    #weatherInfo{
        padding-top: 2.5em;
    }
}

@media only screen and (max-width: 400px){
    span{
        margin-top: 0%;
        font-size: 4em;
        font-weight: 450;
        vertical-align: middle;
    }
    
    #weatherIcon{
        margin-top: 0%;
        max-height: 80%;
    }

    #weatherInfo{
        padding-top: 1.1em;
    }
}

.weatherInfo{
    min-height: 100%;
}

@media only screen and (max-width: 300px){
    span{
        margin-top: 0%;
        margin-left: 0%;
        font-size: 4em;
        font-weight: 450;
        vertical-align: middle;
    }
    
    #weatherIcon{
        margin-top: 0%;
        max-height: 70%;
        max-width: 70%;
    }

    #weatherInfo{
        padding-top: 2em;
    }
}